<div fxLayout="row" fxLayoutAlign="center center">
  <mat-form-field style="width:90vw" appearance="fill">
    <mat-label>Фильтр по заголовку</mat-label>
    <input matInput placeholder="Введите название заявки" [(ngModel)]="search_title" (keydown.enter)="applyFilters()">
  </mat-form-field>

  <button mat-icon-button color="primary" (click)="applyFilters()" ><mat-icon>search</mat-icon></button>
</div>

<div fxLayout="row" fxLayoutAlign="flex-end">
<mat-form-field appearance="fill">
  <mat-label>Фильтр по дате</mat-label>
  <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
    <input matStartDate formControlName="start" placeholder="От" (dateChange)="applyFilters()">
    <input matEndDate formControlName="end" placeholder="До" (dateChange)="applyFilters()">
  </mat-date-range-input>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>  
  <mat-error *ngIf="range.controls['start'].hasError('matStartDateInvalid')">Неправильное начало диапазона</mat-error>
  <mat-error *ngIf="range.controls['end'].hasError('matEndDateInvalid')">Неправильный конец диапазона</mat-error>
</mat-form-field>
</div>

<section [formGroup]="filters" >
  <mat-grid-list cols="3" rowHeight="24px" >
    <mat-grid-tile>Статус:</mat-grid-tile>
    <mat-grid-tile>Категория:</mat-grid-tile>
    <mat-grid-tile>Приоритет:</mat-grid-tile>

    <mat-grid-tile><mat-checkbox class="left-align-forced" (change)="setStatusFilter($event)" formControlName="new" value="n"><small>Новая</small></mat-checkbox></mat-grid-tile>
    <mat-grid-tile><mat-checkbox class="left-align-forced" (change)="setCategoryFilter($event)" formControlName="category1" value="1"><small>Сантехника</small></mat-checkbox></mat-grid-tile>
    <mat-grid-tile><mat-checkbox class="left-align-forced" (change)="setPriorityFilter($event)" formControlName="priority0" value="0"><small>Наивысший</small></mat-checkbox></mat-grid-tile>

    <mat-grid-tile><mat-checkbox class="left-align-forced" (change)="setStatusFilter($event)" formControlName="worked" value="w"><small>В работе</small></mat-checkbox></mat-grid-tile>
    <mat-grid-tile><mat-checkbox class="left-align-forced" (change)="setCategoryFilter($event)" formControlName="category2" value="2"><small>Электрика</small></mat-checkbox></mat-grid-tile>
    <mat-grid-tile><mat-checkbox class="left-align-forced" (change)="setPriorityFilter($event)" formControlName="priority1" value="1"><small>Высокий</small></mat-checkbox></mat-grid-tile>

    <mat-grid-tile><mat-checkbox class="left-align-forced" (change)="setStatusFilter($event)" formControlName="revision" value="r"><small>На проверке</small></mat-checkbox></mat-grid-tile>
    <mat-grid-tile><mat-checkbox class="left-align-forced" (change)="setCategoryFilter($event)" formControlName="category3" value="3"><small>Ремонт</small></mat-checkbox></mat-grid-tile>
    <mat-grid-tile><mat-checkbox class="left-align-forced" (change)="setPriorityFilter($event)" formControlName="priority2" value="2"><small>Средний</small></mat-checkbox></mat-grid-tile>

    <mat-grid-tile><mat-checkbox class="left-align-forced" (change)="setStatusFilter($event)" formControlName="completed" value="c"><small>Завершена</small></mat-checkbox></mat-grid-tile>
    <mat-grid-tile><mat-checkbox class="left-align-forced" (change)="setCategoryFilter($event)" formControlName="category4" value="4"><small>Лифт</small></mat-checkbox></mat-grid-tile>
    <mat-grid-tile><mat-checkbox class="left-align-forced" (change)="setPriorityFilter($event)" formControlName="priority3" value="3"><small>Низкий</small></mat-checkbox></mat-grid-tile>
    
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile><mat-checkbox class="left-align-forced" (change)="setCategoryFilter($event)" formControlName="category5" value="5"><small>Территория</small> </mat-checkbox></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
</mat-grid-list>
</section>

<button mat-button class="inquiries" color="primary" (click)="addInquiryDialog()"><mat-icon>create</mat-icon> Новая заявка</button>

<div class="inquiries" *ngFor="let todo of listedtodos">
<mat-expansion-panel>
  <mat-expansion-panel-header>

    <mat-panel-title>
      {{ todo.inquiry_title }}
    </mat-panel-title>

    <mat-panel-description align="end">
      <mat-icon>task_alt</mat-icon>{{ todo.todo_status_name }}
    </mat-panel-description>
  
  </mat-expansion-panel-header>

    
      <mat-card-subtitle>
        <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="start center">
          <img *ngIf="todo.inquiry_creator!.photo" mat-card-avatar src="{{ todo.inquiry_creator!.photo_url }}" alt="Изображение профиля">
          <div class="icon-text">{{ todo.inquiry_creator!.first_name }} {{ todo.inquiry_creator!.last_name }}</div>
          <div class="icon-text"><mat-icon>phone</mat-icon>{{ todo!.inquiry_creator!.phone_number }}</div>
        </div>
      </mat-card-subtitle>
      <mat-card-content>
        <mat-card>
          <mat-card-content>
        <p>{{ todo.inquiry_text }}</p>
      </mat-card-content>
      </mat-card>
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions>              
        <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="start center">
          <div><button mat-raised-button color="primary" (click)="inquiryDialog(todo.inquiry_id)">Открыть</button></div>
          <div>{{ todo.todo_priority_name }} приоритет</div>
        </div>
      </mat-card-actions>
      <mat-card-footer>
      </mat-card-footer>

  </mat-expansion-panel>
</div>