<div class="main-div" >
  <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <mat-card-content>    
        <h2>Вход в систему</h2>
        <mat-error *ngIf="f.submitted && isLoginFailed">
          Введены неверные имя пользователя и/или пароль
        </mat-error>
        <mat-form-field class="full-width-input">
          <input matInput
          type="text"
          placeholder="Имя пользователя"
          name="username"
          [(ngModel)]="form.username"
          required
          #username="ngModel"
        />
          <mat-error>
            Пожалуйста, введите имя пользователя
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput
              type="password"
              placeholder="Пароль"
              name="password"
              [(ngModel)]="form.password"
              required
              minlength="6"
              #password="ngModel"
            />
          <mat-error>
            Пожалуйста, введите пароль пользователя
          </mat-error>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary">Войти</button>
      </mat-card-content>
  </form>
  

  </div>