.list {
    text-align: left;
    max-width: 750px;
    margin: auto;
}

.inquiries{
  margin-bottom: 10px;
}

::ng-deep .mat-expansion-panel-header-description {
  position: absolute;
  right: 32px;
}