<h1>Что бы Вы хотели сделать сегодня?</h1>

<div class="menu">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="center center">

    <button mat-button color="primary" class="nav-item" routerLink="todos" class="nav-link"><mat-icon>task</mat-icon><h1>Отправить заявку</h1></button>
    <button mat-button color="primary" class="nav-item" routerLink="announcements" class="nav-link"><mat-icon>campaign</mat-icon><h1>Написать объявление</h1></button>

  </div> 
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" class="container" fxLayoutAlign="center center">
    
    <button mat-button color="primary" class="nav-item" routerLink="polls" class="nav-link"><mat-icon>poll</mat-icon><h1>Провести голосование</h1></button>
    <button mat-button color="primary" class="nav-item" routerLink="notifications" class="nav-link"><mat-icon>notification_important</mat-icon><h1>Просмотреть уведомления</h1></button>

  </div>