<div fxLayout="row" fxLayoutAlign="center center">
  <mat-form-field style="width:90vw" appearance="fill">
    <mat-label>Фильтр по заголовку</mat-label>
    <input matInput placeholder="Введите название заявки" [(ngModel)]="search_title" (keydown.enter)="applyFilters()">
  </mat-form-field>

  <button mat-icon-button color="primary" (click)="applyFilters()" ><mat-icon>search</mat-icon></button>
</div>

<div fxLayout="row" fxLayoutAlign="flex-end">
<mat-form-field appearance="fill">
  <mat-label>Фильтр по дате</mat-label>
  <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
    <input matStartDate formControlName="start" placeholder="От" (dateChange)="applyFilters()">
    <input matEndDate formControlName="end" placeholder="До" (dateChange)="applyFilters()">
  </mat-date-range-input>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>  
  <mat-error *ngIf="range.controls['start'].hasError('matStartDateInvalid')">Invalid start date</mat-error>
  <mat-error *ngIf="range.controls['end'].hasError('matEndDateInvalid')">Invalid end date</mat-error>
</mat-form-field>
</div>
  
  <section [formGroup]="filters">
    <mat-grid-list cols="2" rowHeight="24px" >
      <mat-grid-tile colspan="2">Категория:</mat-grid-tile>
      <mat-grid-tile><mat-checkbox class="left-align-forced" (change)="setCategoryFilter($event)" formControlName="category0" value="0"><small>Купля/продажа</small></mat-checkbox></mat-grid-tile>
      <mat-grid-tile><mat-checkbox class="left-align-forced" (change)="setCategoryFilter($event)" formControlName="category3" value="3"><small>Отключение услуг</small></mat-checkbox></mat-grid-tile>
      <mat-grid-tile><mat-checkbox class="left-align-forced" (change)="setCategoryFilter($event)" formControlName="category1" value="1"><small>Аренда</small></mat-checkbox></mat-grid-tile>
      <mat-grid-tile><mat-checkbox class="left-align-forced" (change)="setCategoryFilter($event)" formControlName="category2" value="2"><small>Ремонтные работы</small></mat-checkbox></mat-grid-tile>
      <mat-grid-tile><mat-checkbox class="left-align-forced" (change)="setCategoryFilter($event)" formControlName="category4" value="4"><small>Placeholder</small></mat-checkbox></mat-grid-tile>
      <mat-grid-tile><mat-checkbox class="left-align-forced" (change)="setCategoryFilter($event)" formControlName="category5" value="5"><small>Placeholder</small></mat-checkbox></mat-grid-tile>
      
  </mat-grid-list>
  </section>
  
  <div>
    <button mat-button class="inquiries" color="primary" (click)="addInquiryDialog()"><mat-icon>create</mat-icon> Разместить объявление</button>
  </div>

<div fxLayout="row wrap" fxLayoutGap="16px grid">
<div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let announcement of listedannouncements">
  <div fxLayout="column" fxLayout.xs="column" fxLayoutGap="10px" class="container"  fxLayoutAlign="left">
    <mat-card>
      <mat-card-subtitle>
        <div fxLayout="row wrap" fxLayoutGap="20px">
          <div class="icon-text"><mat-icon>person</mat-icon>{{ announcement.inquiry_creator!.first_name }} {{ announcement.inquiry_creator!.last_name }}</div>
        </div>
      </mat-card-subtitle>
      <mat-card-title>{{ announcement.inquiry_title }}</mat-card-title>
      <mat-card-content>
        <p>{{ announcement.inquiry_created_at!.toLocaleString() }} </p>
        <mat-card-subtitle *ngIf="(announcement.announcement_is_visible==false)">Не опубликовано</mat-card-subtitle>
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions>                  
        <button mat-button color="primary" (click)="inquiryDialog(announcement.inquiry_id)">Подробнее...</button>
      </mat-card-actions>
      <mat-card-footer>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
</div>