.list {
    text-align: left;
    max-width: 750px;
    margin: auto;
  }

.mat-grid-tile .mat-figure {
    justify-content: flex-start !important ;
    align-items: flex-start !important;
 }

::ng-deep .mat-grid-tile-content {
  justify-content: flex-start !important
}

.inquiries{
  margin-bottom: 10px;
}

::ng-deep .mat-expansion-panel-header-description {
  position: absolute;
  right: 32px;
}

.left-align-forced {
  width:50%;
}